@{

	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ChillToeic.Models.CourseCompletionInfo>
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Contact Us</h2>
					<ul class="bread-list">
						<li><a asp-area="" asp-controller="Home" asp-action="HomePage">Home</a></li>
						<li><i class="icofont-simple-right"></i></li>
						<li class="active">My Course</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Contact Us -->
<section class="contact-us section">
	<div class="container">
		<div class="inner" id="top">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-us-form">
						<h2>Learning course</h2>
						<p>These are courses that you have not completed.</p>
						<!-- Course start -->
						@foreach (var courseCompletionInfo in Model.Where(c => c.CompletionPercentage < 100))
						{
							<div class="single-info">
								<i class="icofont icofont-book"></i>
								<div class="content">
									<h2>@courseCompletionInfo.CourseName</h2>
									<div class="progress">
										<div class="progress-bar" style="width: @courseCompletionInfo.CompletionPercentage%"><span id="courseComplete">@courseCompletionInfo.CompletionPercentage%</span></div>
									</div>
								</div>
								<button class="btn" id="learn" type="submit"><a href="/CoursePurchased/CoursePurchased?id=@courseCompletionInfo.CourseId">Learn</a></button>
							</div>
						}
						<!--/ End Course -->
					</div>
				</div>
			</div>
		</div>


		<div class="inner">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-us-form">
						<h2>Completed course</h2>
						<p>These are courses that you have completed.</p>
						<!-- Course start -->
						@foreach (var courseCompletionInfo in Model.Where(c => c.CompletionPercentage == 100))
						{
							<div class="single-info">
								<i class="icofont icofont-book"></i>
								<div class="content">
									<h2>@courseCompletionInfo.CourseName</h2>
									<div class="progress">
										<div class="progress-bar" style="width: @courseCompletionInfo.CompletionPercentage%"><span>@courseCompletionInfo.CompletionPercentage%</span></div>
									</div>
								</div>
								<button class="btn" id="learn" type="submit">View certificate</button>
							</div>
						}
					</div>
					<!--/ End Course -->
				</div>
			</div>
		</div>

	</div>
</section>
<!--/ End Contact Us -->
<style>
	#top {
		margin-bottom: 20px;
	}

	#course {
		background-color: ##1A76D1;
	}

	.contact-us .single-info .content h2 {
		color: #fff;
		font-size: 26px;
		font-weight: 600;
	}

	.progress {
		height: 35px;
	}

		.progress span {
			font-size: 25px;
		}

	.single-info {
		margin-bottom: 20px;
		position: relative; /* Thiết lập vị trí tương đối */
	}

		.single-info .btn {
			position: absolute; /* Thiết lập vị trí tuyệt đối để điều chỉnh vị trí */
			right: 25px;
			top: 25px;
			color: #000;
			background-color: #fff;
		}

</style>
<script>

</script>