@{

	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

@model IEnumerable<ChillToeic.Models.Entity.Question>
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Contact Us</h2>
					<ul class="bread-list">
						<li><a asp-area="" asp-controller="Home" asp-action="HomePage">Home</a></li>
						<li><i class="icofont-simple-right"></i></li>
						<li class="active">My Course</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Contact Us -->

<section class="contact-us section" asp-area="testpage">
	@using (Html.BeginForm("TestSubmit", "Test", new { testId = ViewBag.idTest }, FormMethod.Post))
                    {

	<div class="containerTest">
		<div class="row">
			<div class=" col-lg-10 col-12">
				<div class="inner" >
					<div class="row">
						<div class="col-lg-12">
							<div class="contact-us-form">
								<div>
									<!--Phần audio nên cần sửa lại-->
									<div class="music-player">
										<audio id="audio-player" src="path/to/your/music.mp3"></audio>
                                        <div class="controls">
                                            <button id="play-btn" class="control-btn">&#9658;</button>
											<progress id="progress-bar" value="0" max="100"></progress>
											<input type="range" id="volume-slider" min="0" max="1" step="0.1" value="1">
										</div>
									</div>
									<!--Phần audio nên cần sửa lại-->
									@foreach (var i in Model)
									{
									 <a href="javascript:void(0)"  class="btn-qnum" id="question---@i.Id" data-question-id="@i.Id"  onclick="loadQuestionDetails(@i.Id)"> @i.Title</a>
                                    }
								</div>
								<div class="line-container">
									<hr class="horizontal-line">
								</div>
								<div>
										
										 @{
											int j = 0;
										}
										@foreach (var i in Model)
									
										{
											
										<div id="details-@i.Id" style="display:none;">
											@foreach (var detail in i.QuestionDetails.OrderBy(q => q.NumberQuestion))
										{

											<div class="img-q">

												@if (@detail.Img != null)
												{
													<img src="@detail.Img" alt="#">

													<img src="~/img/author1.jpg" alt="#">
												}

											</div>
											<div class="img-q">
												<h1>@detail.NumberQuestion</h1>

												@if (detail.Description != null)
												{
													<p>@detail.Description</p>
												}
											</div id="question-@detail.Id">
													<input type="hidden" name="answers[@j].QuestionId" value="@i.Id" />
													<input type="hidden" name="answers[@j].QuestionDetailId" value="@detail.Id" />
													<label name="answers[@j].AnswerValue"><input onclick="changeColor(@detail.Id)" type="radio" name="answers[@j].AnswerValue" value="1"> A. @detail.AnswerA</label>
													<label name="answers[@j].AnswerValue"><input onclick="changeColor(@detail.Id)" type="radio" name="answers[@j].AnswerValue" value="2"> B. @detail.AnswerB</label>
													<label name="answers[@j].AnswerValue"><input onclick="changeColor(@detail.Id)" type="radio" name="answers[@j].AnswerValue" value="3"> C. @detail.AnswerC</label>
											@if (detail.AnswerD != null)
											{
												    <label name="answers[@j].AnswerValue"><input onclick="changeColor(@detail.Id)" type="radio" name="answers[@j].AnswerValue" value="4"> D. @detail.AnswerD</label>
													}
													j = j + 1;

												}
										</div>
									} 

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class=" col-lg-2 col-12">
				<div class="inner">
					<div class="contact-us-form">
						<div class="timeleft">
							<p id="demo"></p>
							<h3>Time left: <span id="democc"></span> </h3>
						</div>
						<button type="submit"class="btn">Submit</button>
						<p>Phần này anh thích bỏ gì thì bỏ</p>
						<div class="part">
							@foreach (var question in Model)
							{
								<h3>@question.Title</h3>
								
									<div class="row">
									@foreach (var detail in question.QuestionDetails)
									{
										
										 	<div  class=" col-lg-3 col-12"><a id="question--@detail.Id" href="#question-@detail.Id" class="btn-qnum" onclick="loadQuestionDetails(@question.Id)">@detail.NumberQuestion</a></div> 
										
									}
									</div>
								
							}

						
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="contact-info">
			<div class="row">
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont icofont-ui-call"></i>
						<div class="content">
							<h3>+(000) 1234 56789</h3>
							<p>info@company.com</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont-google-map"></i>
						<div class="content">
							<h3>2 Fir e Brigade Road</h3>
							<p>Chittagonj, Lakshmipur</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<i class="icofont icofont-wall-clock"></i>
						<div class="content">
							<h3>Mon - Sat: 8am - 5pm</h3>
							<p>Sunday Closed</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
			</div>
		</div>
	</div>
	}
</section>
<!--/ End Contact Us -->
<style>
	.question{
		margin: 20px 20px;
	}
	label {
		display: block;
		margin-bottom: 10px;
		font-size: 20px;
		color: #000;
	}
	.img-q span{
		color:#000;
		font-size:22px;
	}
	.line-container {
		width: 100%; /* Chiều rộng của div */
		margin: 20px 20px; /* Margin để tạo khoảng cách trên và dưới đường line */
	}

	.horizontal-line {
		border: none; /* Loại bỏ border mặc định của thẻ hr */
		background-color: #000; /* Màu của đường line */
		height: 2px; /* Độ cao của đường line */
		width: 100%; /* Chiều rộng của đường line, bằng với div cha */
	}

	.containerTest{
		margin-left: 15px;
		margin-right: 15px;

	}
	#top {
		margin-bottom: 20px;
	}

	#course {
		background-color: ##1A76D1;
	}

	.contact-us .single-info .content h2 {
		color: #fff;
		font-size: 26px;
		font-weight: 600;
	}

	.progress {
		height: 35px;
	}

		.progress span {
			font-size: 25px;
		}

	.single-info {
		position: relative; /* Thiết lập vị trí tương đối */
	}

		.single-info .btn {
			position: absolute; /* Thiết lập vị trí tuyệt đối để điều chỉnh vị trí */
			right: 25px;
			top: 25px;
			color: #000;
			background-color: #fff;
		}

	.btn-qnum {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		/* display: inline-block; */
		display: inline-flex; /* Sử dụng flexbox */
		justify-content: center; /* Canh giữa theo chiều ngang */
		align-items: center; /* Canh giữa theo chiều dọc */
		padding: 15px;
		margin: 5px;
		border: 1px solid #000; /* Màu và độ dày của khung */
		text-decoration: none; /* Loại bỏ gạch chân mặc định của các liên kết */
		border-radius: 7px;
		width: 30px;
		height: 30px;
	}

		.btn-qnum:hover {
			background: #1A76D1;
			color: #fff;
		}

	#part{
		color: #fff;
		background-color: #1A76D1 ;
		width: 90px;
	}
	#part:hover{
			background: #fff;
			color: #000;
	}

	#numq{
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	.music-player {
		width: 300px;
		margin: 20px auto;
	}

	.controls {
		display: flex;
		align-items: center;
	}

	.control-btn {
		background-color: #007bff;
		color: white;
		border: none;
		padding: 10px;
		cursor: pointer;
	}

	#volume-slider {
		width: 100px;
		margin-left: 10px;
	}

	#progress-bar {
		width: 100%;
		margin-top: 10px;
	}
	.reverse-color {
    background-color: red; /* Thay đổi màu sắc tùy chọn */
    color: white; /* Thay đổi màu văn bản tùy chọn */
}
.selected {
    color: red; /* Thay đổi màu sắc tùy chọn */
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
	
	</script>
		<script>
	console.log("abc")
console.log("checkpint")
	const audioPlayer = document.getElementById('audio-player');
	const playBtn = document.getElementById('play-btn');
	const volumeSlider = document.getElementById('volume-slider');
	const progressBar = document.getElementById('progress-bar');

	playBtn.addEventListener('click', function () {
		if (audioPlayer.paused) {
			audioPlayer.play();
			playBtn.textContent = '❚❚';
		} else {
			audioPlayer.pause();
			playBtn.textContent = '&#9658;';
		}
	});

	volumeSlider.addEventListener('input', function () {
		audioPlayer.volume = volumeSlider.value;
	});

	audioPlayer.addEventListener('timeupdate', function () {
		const progress = (audioPlayer.currentTime / audioPlayer.duration) * 100;
		progressBar.value = progress;
	});


		
	
	//Tải danh sách Part đầu tiên khi truy câp
	// $(window).on("load", function () {
	// 	// Hiển thị chi tiết của câu hỏi đầu tiên khi trang được tải lần đầu tiên
	// 	$('#details-' + @Model.First().Id).show();
	// });
	// Ẩn
	function loadQuestionDetails(questionId) {
		


		console.log("====>",questionId)
		// Thêm sự kiện click cho mỗi tiêu đề câu hỏi
		$('.btn-qnum').click(function () {
			console.log(questionId, "show")
			// Lấy id của câu hỏi được click
			$('#details-' + questionId).show();
			// Hiển thị danh sách câu hỏi của phần được chọn
			

			// Ẩn các phần khác
			 $('.btn-qnum').each(function () {
			 	var otherQuestionId = $(this).data('question-id');
				 if (otherQuestionId != questionId) {
					$('#details-' + otherQuestionId).hide();
				 console.log(otherQuestionId, "hide")
				 }

			});
		});
		 document.querySelectorAll('.btn-qnum').forEach(item => {
        item.classList.remove('reverse-color');
    });


		console.log(questionId)
    var questionDiv = document.getElementById('question---' + questionId);
    if (questionDiv.classList.contains('reverse-color')) {
		console.log("trong if---",questionId)
    } else {
        questionDiv.classList.add('reverse-color');
		console.log("trong elsse---",questionId)
    }
	console.log("OK----",questionId)
	}
	
	// 	function loadQuestionDetails2(questionId) {
	// 	// Thêm sự kiện click cho mỗi tiêu đề câu hỏi
	// 	$('.btn-qnum2').click(function () {
	// 		// Lấy id của câu hỏi được click
	// 		$('#details-' + questionId).show();

	// 		// Hiển thị danh sách câu hỏi của phần được chọn
			

	// 		// Ẩn các phần khác
	// 		 $('.btn-qnum2').not(this).each(function () {
	// 		 	var otherQuestionId = $(this).data('question-id');
	// 		 	$('#details-' + otherQuestionId).hide();
	// 		});
	// 	});
	// }
	

	<!-- Display the countdown timer in an element -->



// // Set the date we're counting down to
// var countDownDate = new Date("Jan 5, 2030 15:37:25").getTime();

// // Update the count down every 1 second
// var x = setInterval(function() {

//   // Get today's date and time
//   var now = new Date().getTime();

//   // Find the distance between now and the count down date
//   var distance = countDownDate - now;

//   // Time calculations for days, hours, minutes and seconds
//   var days = Math.floor(distance / (1000 * 60 * 60 * 24));
//   var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
//   var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
//   var seconds = Math.floor((distance % (1000 * 60)) / 1000);

//   // Display the result in the element with id="demo"
//   document.getElementById("democc").innerHTML = days + "d " + hours + "h "
//   + minutes + "m " + seconds + "s ";

//   // If the count down is finished, write some text
//   if (distance < 0) {
//     clearInterval(x);
//     document.getElementById("democc").innerHTML = "EXPIRED";
//   }
// }, 1000);
function changeColor(detailId) {
	console.log(detailId)
    var questionDiv = document.getElementById('question--' + detailId);
    if (questionDiv.classList.contains('reverse-color')) {
		console.log("trong if",detailId)
    } else {
        questionDiv.classList.add('reverse-color');
		console.log("trong elsse",detailId)
    }
	console.log("OK",detailId)
}
// function changeColor2(questionId) {
// 	console.log(questionId)
//  var questionDiv = document.getElementById('question---' + questionId);
// 		 if (element.classList.contains('selected')) {
//         // Nếu có, xóa lớp 'selected'
//         element.classList.remove('selected');
//     } else {
//         // Nếu không, thêm lớp 'selected'
//         element.classList.add('selected');
//     }
// }

		</script>