@{

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<ChillToeic.Models.Entity.Course>

<div class="card-body">
    <p class="card-title mb-0">List of all learners</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Level</th>
                    <th>QuantityOfLecture</th>
                    <th>QuantityOfRegister</th>
                    <th>CreatedAt</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var course in Model){
                <tr>
                        <td>@Html.DisplayFor(modelItem => course.Id)</td>
                        <td>@Html.DisplayFor(modelItem => course.Name)</td>
                        <td>@Html.DisplayFor(modelItem => course.Price)</td>
                        <td>@Html.DisplayFor(modelItem => course.level)</td>
                        <td>@Html.DisplayFor(modelItem => course.QuantityOfLecture)</td>
                        <td>@Html.DisplayFor(modelItem => course.QuantityOfRegister)</td>
                        <td>@Html.DisplayFor(modelItem => course.CreatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => course.IsApproved)</td>
                        <td><a class="btn1" href="/Admin/CourseDetailManagement?id=@Html.DisplayFor(modelItem => course.Id)">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .btn1 {
        color: white;
        background: #1a76d1;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s ease;
        s
    }

        .btn1:hover {
            color: white;
            background: #125d9b;
        }
</style>