@{
    ViewData["Title"] = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ChillToeic.Models.Entity.Course

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h1>Course Detail</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="content">
            <div class="content-left">
                <div class="section-title position-relative mb-5">
                    <h1 class="title">@Model.Name</h1>
                </div>
                <p>@Model.Description</p>
            </div>
            <div class="content-right">
                <div class="bg-primary mb-5 py-3">
                    <h3 class="py-3 px-4 m-0">Course Features</h3>
                    <div class="border-bottom px-4">
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Price:</h6>
                            <h6 class="my-3">@Model.Price VNĐ</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Level:</h6>
                            <h6 class="my-3">@Model.level</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Quantity of Lecture:</h6>
                            <h6 class="my-3">@Model.QuantityOfLecture</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Quantity of Register:</h6>
                            <h6 class="my-3">@Model.QuantityOfRegister</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Created At:</h6>
                            <h6 class="my-3">@Model.CreatedAt.ToString("dd/MM/yyyy")</h6>
                        </div>
                    </div>
                    <div class="py-3 px-4 text-center">
                        <form method="post" action="/Order/Order">
                            <input type="hidden" name="CourseId" value="@Model.Id" />
                            <input type="hidden" name="Price" value="@Model.Price" />
                            <button type="submit" class="btn btn-block btn-dark">Enroll Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .content {
        display: flex;
    }

    .title {
        width: 600px;
    }

    #course-feature {
        margin-left: 300px;
    }

    .section-title {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .content-right {
        padding: 150px 0;
    }

    .content-left {
        padding: 0 50px;
    }

    img.img-fluid.rounded.w-100.mb-4 {
        height: 450px;
    }

    .breadcrumbs.overlay h1 {
        color: white;
    }


    .feature-item {
        padding: 8px 0;
    }

    .btn-dark {
        background-color: #000;
        color: #fff;
    }

        .btn-dark:hover {
            background-color: #000;
            color: #fff;
        }

    .bg-primary {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    h6.my-3 {
        padding-left: 6px;
    }

    .bg-primary.mb-5.py-3 {
        width: 220px;
    }

    .bg-custom {
        background-color: #1A76D1;
    }

    .bg-primary h3,
    .bg-primary h6 {
        color: white;
    }
</style>