

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/stylelogin.css">
    <title>Modern Login Page | AsmrProg</title>
</head>


<body>
    @model ChillToeic.Models.DTO.UserResetPasswordDTO
    <div class="container" id="container">
       
        @{
            if (Model == null)
            {
                <div class="form-container sign-in">
                    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
                    {
                        <h1>Reset Password</h1>
                        <p>Enter your username </p>
                        <div class="email-otp" asp-action="SendOTP" asp-controller="Login" method="post">
                            <div class="form-group">
                               
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" , @id="email", @name="email" })
                            </div>
                            <button type="button" class="send-otp" id="send-otp">Send OTP</button>
                        </div>
                        @Html.TextBoxFor(m => m.VerifyOTP, new { @class = "form-control verifyemail", @placeholder = "Enter your OTP" })
                        
                        <button type="submit" value="Login">Verify OTP</button>

                    }
                </div>
            }
            else
            {
                <div class="form-container sign-in">
                    @using (Html.BeginForm("ResetPassword2", "Login", FormMethod.Post))
                    {
                        <h1>Reset Password</h1>
                        <p>Enter your new password </p>
                        @Html.HiddenFor(m => m.Email, new { Value = Model.Email })
                        @Html.HiddenFor(m => m.VerifyOTP, new { Value = Model.VerifyOTP })
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        <button type="submit" value="Login">Confirm</button>

                    }
                </div>
            }
           
        }
        
        <div class="toggle-container">
            <div class="toggle">
                
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#send-otp').click(function () {
                var email = $('#email').val();
                $.ajax({
                    url: '@Url.Action("SendOTPResetPassword", "Login")',
                    type: 'POST',
                    data: { email: email },
                    success: function (response) {
                        console.log(response)
                        $('.email-otp + .response').remove();
                        // Hiển thị nội dung phản hồi mới nhất sau phần tử .email-otp
                        $('.email-otp').after('<div class="response">' + response + '</div>');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText); // Hiển thị lỗi nếu có
                    }
                });
            });
        });
    </script>
    <script src="~/js/script.js"></script>
</body>

</html>
